.chat-card{
    width:300px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #343f56;
    color:#fb9300;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.chat-card span{
    margin:3%;
}

.card-avatar{ 
    border-radius: 10px;
}