.chat-card{
    width:250px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #343f56;
    color:#f54748;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom:5%;
    font-weight: 400;
}

.chat-card span{
    margin:3%;
}

.card-avatar{ 
    border-radius: 10px;
    height:10px;
    width:10px;
}