.assignment-wrapper,
.assignment-title,
.assignment-header,
.assignment-type,
.assignment-list,
.assignment-list-items,
.form-area,
.assgn-form-container {
  display: flex;
  width: 100%;
}
.assignment-wrapper {
  flex-direction: column;
  height: 100vh;
  padding-left: 10%;
}
.assignment-title {
  font-size: 25px;
  justify-content: center;
  margin: 5% 0 5% 0;
}
.assignment-header {
  justify-content: flex-end;
}
.assignment-type {
  justify-content: flex-start;
  font-size: 23px;
}
.assignment-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.assignment-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.assignment-list-items {
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.Collapsible {
  width: 80%;
  margin-top: 2%;
}
.Collapsible__trigger {
  cursor: pointer;
}

.create-btn a {
  text-decoration: none;
  color: #f54748;
}
.form-area {
  justify-content: center;
  align-items: center;
}

.assignment-outer-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assgn-creation-header {
  font-size: 23px;
}
.form-area {
  flex-direction: column;
}
