.empty-wrapper, .empty-msg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:80%;
}
.empty-wrapper{
    height:80vh;
}
.empty-img img{
    width:350px;
    height:300px;
}
.empty-msg p{
    color: #343f56;
    font-size:25px;
}

.create-chat-btn{
    width:100px;
    height:40px;
    background-color:#343f56;
    color:#f54748;
    border:2px solid #343f56;
    outline:none;
    border-radius: 5px;
    font-weight: 500;
    cursor:pointer;
    transform:transition background-color 1s;
}
.create-chat-btn:hover{
    background-color: transparent;
    transform:transition background-color 1s;
}
