.assignment-page,.assignment-container{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    justify-content:space-between;
    align-items:center;
    padding:1%;
}
.assignment-preview{
    font-size: 20px;
}
