.room-wrapper{
    width:100%;
    height:100vh;
    background-color: #343F56;
    color:#F54748;
   
}

.room-left-panel{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    justify-content:space-evenly;
    align-items:center;
    padding:1%;
}

.participants-frames{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;
    width:100%;
}

.room-right-panel{
    max-width:350px;
    position: fixed;
    right:10px;
    top:10px;
    overflow:hidden;
}
.ce-chat-feed-container{
    min-height: 500px !important ;
    max-height:500px !important;
    
}
.ce-avatar, .ce-their-message-sender, .ce-avatar-dot{
    display: none;
}
.ce-message-bubble.ce-their-message-bubble{
    margin-left:-20px !important;
    background-color: #F54748 !important;
}
.ce-message-bubble.ce-my-message-bubble{
     background-color: #343F56 !important;
}
.ce-chat-title-text{
    color:#F54748
}
.msg-in-meet-btn{
position: fixed;
bottom:10px;
right:20px;
}