.assignent-assignees-form,
.assignment-assignees-left-panel,
.assignment-assignees-right-panel,
.add-assignees-btn,
.assigness-bubble,
.assignment-instructions-right-panel {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}

.assignment-assignees-left-panel {
  flex-direction: column;
}
.assignment-assignees-right-panel {
  flex-wrap: wrap;
  height: 400px;
}
.assign-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.panel-title {
  font-size: 23px;
  text-align: center;
}

.assginees-input {
  height: 40px;
  color: #343f56;
  text-align: center;
  border: 1px solid #343f56;
  outline: none;
  width: 140%;
  border-radius: 5px;
  margin: 1%;
  font-size:16px;
}

.add-assignees-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #343f56;
}
.add-assignees-btn:hover {
 background-color: #202736;
}
.assigness-bubble {
  width: max-content;
  padding: 3%;
  background-color: #343f56;
  height: 40px;
  border-radius: 5px;
  color: #f54748;
  margin: 1%;
}
.assign-remove {
  cursor: pointer;
}
.nothing-container,.nothing-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nothing-img{
  padding:5%;
}
.nothing-img img{
  width:250px;
  height:300px;
}
.nothing-msg{
  font-size:20px;
}