.team-create-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 10%;
}
.create-chat-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.create-chat-title {
  font-size: 40px;
  color: #343f56;
  text-align: center;
}
.create-chat-col form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.create-chat-col form input {
  height: 45px;
  width: 250px;
  border-radius: 5px;
  color: #f54748;
  outline: none;
  border: none;
  text-align: center;
  background-color: #343f56;
}
.create-chat-col form input::placeholder {
  color: #f54748;
}
.create-chat-or-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #f54748;
}

.vertical {
  border-left: 6px solid black;
  height: 200px;
  position: absolute;
  left: 50%;
}

@media (max-width: 700px) {
  .team-create-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 10%;
  }
  .create-chat-or-col hr {
    display: none;
  }
}
@media (max-width: 500px) {
  .create-chat-title {
  font-size: 25px;
}
.create-chat-col form input {
  height: 40px;
  width: 200px;
}
}