.control-panel{
    width:30%;
    background-color: white;
    border-radius:10px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.control-panel span{
    height:50px;
    width:55px;
    border-radius: 50%;
    margin:10%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.control-icon{
    cursor:pointer;
}

.control-panel span:hover{
   background-color:rgba(128, 128, 128, 0.404)
}
